*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
dist/
en_core_web_md/
gog/
gogo/
cricket.txt
quick.txt
en_core_web_md-2.3.1.tar.gz
.vscode/
